###> symfony/framework-bundle ###
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache
/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
###< symfony/asset-mapper ###

# IDE
/.idea/
/.vscode/
*.sw[op]

# OS
.DS_Store
Thumbs.db

/.docs
/.claude
